<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="WB_ExportProduct::main_menu" title="WB Export Products" sortOrder="10">
                    <resource id="WB_ExportProduct::view" title="View Export Products" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
